

body {
    background-color: #fffaff;
}
img {
    width: 100px;
    height: 100px;
}
#img-scissors {
    width: 75px;
}
button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    width: 32%;
    height: auto;
    background-color: #fffaff;
}

.header {
    background-color: #66eaff;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    color: #f530d8;
    border-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-style: solid;
    border-color: #482fda;
    font-family: 'AGoblinAppears-o2aV';
    text-shadow: 1px 1px black;
}

#footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: white;
    border-width: 2px;
}

#status {
    border-width: 2px;
}

@font-face {
    font-family:"AGoblinAppears-o2aV";
    src: url('../font/AGoblinAppears-o2aV.ttf') format("truetype");
  }

  input {
      display: block;
      background-color: white;
      width: 45%;
      font-family: 'AGoblinAppears-o2aV';
      font-size: 10px;
  }

  #chat {
      font-size: 8px;
      width: 100%;
      margin-top: 15px;
      height: 25px;
      border-color: #482fda;
      border-width: 2px;
      border-style:solid;
  }
  #chat-box {
      margin-top: 3px;
      width: 100%;
      height: 200px;
      font-family: 'AGoblinAppears-o2aV';
      font-size: 8px;
      background-color: white;
      border-style: solid;
      border-width: 2px;
      border-color: #482fda;
  }

  .score {
    color: #f530d8;
  }

  #copyright {
      font-size: 9px;
      text-shadow: 1px 1px black;
  }